@media (max-width: 540px) {
  .cpPhFlex{display:flex; flex-direction:column; align-items: center;}
  .cpPhOpder-1{order:-1;}
  .cpPhW100{width:100%;}
  .cpPhWR{width:unset;}
  .cpPhPad-0-10{padding:0 10px;}
  .cpPhDiBl{display:block;}
  .cpPhPosSt{position: static !important;}
  .cpPhHeightU{height: unset;}
  .cpPhMargR{margin: 0;}
  
}